@import "../global/variables.scss";

.catalog {
  background-color: $lightest-grey;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 20px 43px;

  @media (min-width: $width-tablet) {
    padding: 80px 20px 89px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template: repeat(2, min-content) / 318px auto;
    grid-template-areas: "text text" "form products";
    gap: 36px 30px;
    width: 1440px;
    padding: 100px 40px 120px;
  }
}

.catalog__text-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 21px;

  @media (min-width: $width-desktop) {
    grid-area: text;
    margin: 0;
  }
}

.catalog__title {
  text-align: center;
}

.catalog__badge {
  margin: 0 0 4px;
  order: -1;
}

.catalog__form {
  margin: 0 0 36px;

  @media (min-width: $width-tablet) {
    margin: 0 0 40px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    padding: 5px 0 0;
    grid-area: form;
  }
}

.catalog__products {
  grid-area: products;
}
