@use "../global/variables.scss";

.contacts {
  padding: 20px;
  border-bottom: 1px solid variables.$base-secondary;
  font-style: normal;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
    border: none;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 9px 0 0;
  }
}

.contacts__title {
  margin: 0 0 20px;
}

.contacts__address {
  font-style: normal;
}

.contacts__text {
  position: relative;
  padding: 0 0 0 19px;
  margin: 0 0 16px;
  background: url("../../img/icons/stack.svg#icon-address") 0 3px / 13px 16px no-repeat;
}

.contacts__link {
  position: relative;
  padding: 0 0 0 19px;
  color: variables.$base-black;
  background: url("../../img/icons/stack.svg#icon-phone") 0 2px / 13px 16px no-repeat;

  &:hover,
  &:focus-visible {
    color: variables.$primary-lighter;
  }

  &:active {
    color: variables.$primary-darker;
  }
}
