@import "../global/variables.scss";

.contacts {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $width-tablet) {
    padding: 20px 0;
    border: none;
  }

  @media (min-width: $width-desktop) {
    padding: 9px 0 0;
  }
}

.contacts__heading {
  margin: 0 0 20px;
}

.contacts__text {
  position: relative;
  padding: 0 0 0 19px;
  margin: 0 0 16px;
}

.contacts__icon {
  position: absolute;
  top: 2px;
  left: 0;
}

.contacts__link {
  position: relative;
  padding: 0 0 0 19px;
  color: $base-black;

  &:hover,
  &:focus-visible {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
