@import "../global/variables.scss";

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px 60px;

  @media (min-width: $width-tablet) {
    width: 768px;
    padding: 60px 20px 99px;
  }

  @media (min-width: $width-desktop) {
    width: 1440px;
    padding: 100px 40px 119px;
  }
}

.features__signature {
  margin: 0 0 5px;
  color: $base-primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  order: -1;

  @media (min-width: $width-tablet) {
    margin: 0 0 4px;
  }
}

.features__title {
  margin: 0 0 36px;
  text-align: center;

  @media (min-width: $width-tablet) {
    margin: 0 0 61px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 81px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 339px);
    gap: 50px 30px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 318px);
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    width: 52px;
    height: 56px;
    margin: 0 0 10px;
  }

  &--speed {
    &::before {
      background: url("../../img/icons/stack.svg#icon-speed") 0 0/52px 56px no-repeat;
    }
  }

  &--fit {
    &::before {
      background: url("../../img/icons/stack.svg#icon-fit") 0 0/52px 56px no-repeat;
    }
  }

  &--energy {
    &::before {
      background: url("../../img/icons/stack.svg#icon-energy") 0 0/52px 56px no-repeat;
    }
  }

  &--ecology {
    &::before {
      background: url("../../img/icons/stack.svg#icon-ecology") 0 0/52px 56px no-repeat;
    }
  }

  @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
    position: relative;
    align-items: flex-start;
    padding: 0 0 0 72px;

    &::before {
      position: absolute;
      left: 0;
      top: 1px;
    }
  }

  @media (min-width: $width-desktop) {
    &::before {
      margin: 0 0 20px;
    }
  }
}

.features__header {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $width-tablet) {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    text-align: center;
  }
}
