@import "../global/variables.scss";

.form {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
    display: grid;
    grid-template: repeat(2, min-content) / repeat(3, 1fr);
    gap: 40px 30px;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 30px;
  border: none;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
    margin: 0;
  }

  &--milk {
    gap: 20px 0;
    margin: 0 0 34px;

    @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
      margin: 0;
    }

    @media (min-width: $width-desktop) {
      margin: 0 0 30px;
    }
  }

  &--country {
    gap: 20px 0;

    @media (min-width: $width-desktop) {
      margin: 0 0 40px;
    }
  }
}

.form__heading {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  &--price {
    margin: 0 0 20px;
  }
}

.form__range {
  margin: 0 0 25px;

  @media (min-width: $width-tablet) {
    margin: 0 0 22px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 23px;
  }
}

.form__button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: center;
    grid-area: -1/1/-2/-1;
  }

  @media (min-width: $width-desktop) {
    justify-content: space-between;
  }
}

.form__button {
  &:first-child {
    margin: 0 0 20px;

    @media (min-width: $width-tablet) {
      margin: 0 20px 0 0;
    }

    @media (min-width: $width-desktop) {
      margin: 0;
    }
  }

  @media (min-width: $width-desktop) {
    width: 149px;
  }
}
