@import "../global/variables.scss";

.main-header__wrapper {
  position: relative;
  width: 320px;
  min-height: 60px;
  margin: 0 auto;
  background-color: $base-white;

  @media (max-width: $width-mobile) {
    position: relative;
  }

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    width: 768px;
    padding: 0 20px;
    min-height: 80px;
  }

  @media (min-width: $width-desktop) {
    width: 1440px;
    padding: 0 40px;
  }
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 6px;
  display: inline-block;
  padding: 12px 14px;

  @media (min-width: $width-tablet) {
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $width-desktop) {
    left: 26px;
  }
}

.main-header__logo-image {
  vertical-align: middle;
}

.main-header__text {
  display: none;
  width: 140px;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $width-desktop) {
    display: inline;
    margin: 0 0 0 190px;
  }
}
