@import "../global/variables.scss";

.main-nav {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: auto;

    &--position {
      margin: 0 0 0 auto;
    }
  }
}

.main-nav--closed .main-nav__toggle {
  @media (max-width: $width-mobile) {
    &::before {
      position: absolute;
      content: "";
      top: calc(50% - 6px);
      left: calc(50% - 8px);
      width: 16px;
      height: 2px;
      background-color: currentColor;
      box-shadow: 0 5px 0 0 currentColor, 0 10px 0 0 currentColor;
    }
  }
}

.main-nav--closed .main-nav__list {
  &--secondary {
    @media (max-width: $width-mobile) {
      display: none;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $width-mobile) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: calc(50% - 1px);
      left: calc(50% - 8px);
      width: 16px;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--opened .main-nav__list {
  &--secondary {
    @media (max-width: $width-mobile) {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100%;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  &--secondary {
    @media (max-width: $width-mobile) {
      position: static;
      display: block;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  padding: 30px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  border: none;
  background-color: transparent;
  color: $base-black;
  cursor: pointer;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $width-mobile) {
    display: none;
  }
}

.main-nav__list {
  &--secondary {
    @media (min-width: $width-tablet) {
      margin: 0 0 0 150px;
    }

    @media (min-width: $width-desktop) {
      margin: 0 163px 0 0;
    }
  }
}
