@import "../global/variables.scss";

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $base-white;

  @media (min-width: $width-tablet) {
    display: grid;
    gap: 30px;
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    grid-template-areas: "cont cont cont" "menu media contacts" "copy copy copy";
    width: 768px;
    padding: 40px 20px;
  }

  @media (min-width: $width-desktop) {
    gap: 20px 30px;
    grid-template: repeat(2, auto) / repeat(4, 318px);
    grid-template-areas: "cont menu media contacts" "copy copy copy copy";
    width: 1440px;
    padding: 40px 40px;
  }
}

.main-footer__link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $width-tablet) {
    grid-area: cont;
    padding: 0;
    border: none;
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: cont;
    padding: 0;
  }
}

.main-footer__logo {
  @media (min-width: $width-desktop) {
    margin: 0 0 10px;
  }
}

.main-footer__logo-image {
  display: block;
}

.main-footer__text {
  display: none;

  @media (min-width: $width-desktop) {
    display: inline;
    margin: 0 0 50px;
  }
}

.main-footer__menu {
  grid-area: menu;
}

.main-footer__media {
  grid-area: media;
}

.main-footer__contacts {
  grid-area: contacts;
}

.main-footer__copyright {
  grid-area: copy;
}
