@use "../global/variables.scss";

.map__wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 420px;

  @media (min-width: variables.$width-tablet) {
    height: 480px;
  }

  @media (min-width: variables.$width-desktop) {
    height: 540px;
  }
}

.map__map-image {
  display: block;
}
