@import "../global/variables.scss";

.map__wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 420px;

  @media (min-width: $width-tablet) {
    height: 480px;
  }

  @media (min-width: $width-desktop) {
    height: 540px;
  }
}

.map__map-image {
  display: block;
}

// .map__yandex {
//   display: block;
//   width: 100%;
//   border: none;

//   &--nojs {
//     display: none;
//   }
// }
