@import "../global/variables.scss";

.menu {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $width-tablet) {
    padding: 20px 0;
    border: none;
  }

  @media (min-width: $width-desktop) {
    padding: 9px 0 0;
  }
}

.menu__title {
  margin: 0 0 12px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  display: inline-block;
  padding: 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: $base-black;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
