@use "../global/variables.scss";
@use "../global/mixins.scss";

.menu {
  padding: 20px;
  border-bottom: 1px solid variables.$base-secondary;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
    border: none;
  }

  @media (min-width: variables.$width-desktop) {
    padding: 9px 0 0;
  }
}

.menu__title {
  margin: 0 0 12px;
}

.menu__list {
  @include mixins.list-reset;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.menu__link {
  display: inline-block;
  padding: 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: variables.$base-black;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    color: variables.$primary-lighter;
  }

  &:active {
    color: variables.$primary-darker;
  }
}
