@use "../global/variables.scss";
@use "../global/mixins.scss";

.pagination {
  @include mixins.list-reset;
  display: flex;
  justify-content: flex-end;
  gap: 0 20px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 40px;
  min-height: 40px;
  color: variables.$base-primary;
  background-color: variables.$base-white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: variables.$width-tablet) {
    &--text {
      padding: 8px 20px;
    }
  }

  &:hover:not(:disabled),
  &:focus-visible {
    color: variables.$base-white;
    background-color: variables.$primary-lighter;
  }

  &:active:not(:disabled) {
    background-color: variables.$primary-darker;
  }

  &:disabled {
    background-color: variables.$light-grey;
    color: variables.$base-white;
  }

  &--current {
    font-weight: 600;
    color: variables.$base-black;
    background-color: transparent;

    &:hover:not(:disabled),
    &:focus-visible {
      color: variables.$base-black;
      background-color: transparent;
    }
  }
}

.pagination__icon {
  &--secondary {
    transform: scaleX(-1);
  }

  @media (min-width: variables.$width-tablet) {
    display: none;
  }
}

.pagination__text {
  display: none;

  @media (min-width: variables.$width-tablet) {
    display: inline;
  }
}
