@use "../global/variables.scss";

.promo {
  display: flex;
  flex-direction: column;
  background-color: variables.$flat-white;

  @media (min-width: variables.$width-tablet) and (max-width: variables.$width-tablet-max) {
    &::after {
      content: "";
      display: block;
      height: 184px;
      background-color: variables.$base-white;
    }
  }
}

.promo__wrapper {
  margin: 0 auto;

  @media (min-width: variables.$width-tablet) {
    padding: 0 20px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1440px;
    padding: 0 40px;
  }
}
