@import "../global/variables.scss";

.promo {
  display: flex;
  flex-direction: column;
  background-color: $flat-white;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
    &::after {
      content: "";
      display: block;
      height: 184px;
      background-color: $base-white;
    }
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 768px;
    padding: 0 20px;
  }

  @media (min-width: $width-desktop) {
    width: 1440px;
    padding: 0 40px;
  }
}
