@import "../global/variables.scss";

.radio {
  position: relative;
  padding: 0 0 0 34px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.radio__input:checked + .radio__mark {
  box-shadow: inset 0 0 0 2px $base-primary;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-primary;
  }
}

.radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px $base-grey;
}

.radio__input:hover:not(:disabled) + .radio__mark,
.radio__input:focus-visible + .radio__mark {
  box-shadow: inset 0 0 0 2px $primary-lighter;

  &::after {
    background-color: $primary-opacity;
  }
}

.radio__input:active:not(:disabled) + .radio__mark {
  box-shadow: inset 0 0 0 2px $base-primary;
}

.radio__input:disabled + .radio__mark {
  box-shadow: inset 0 0 0 2px $light-grey;
  cursor: default;

  &::after {
    background-color: $light-grey;
  }
}
