@import "../global/variables.scss";

.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $base-white;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    border: none;
    max-width: 400px;
  }

  @media (min-width: $width-desktop) {
    max-width: 500px;
    gap: 0 20px;
  }
}

.site-list__item {
  border-top: 1px solid $base-secondary;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  @media (min-width: $width-tablet) {
    padding: 32px 20px;

    &--current {
      color: $base-primary;
      box-shadow: inset 0 -2px $base-primary;
    }

    &:hover,
    &:focus-visible {
      color: $base-primary;
    }
  }

  &:active {
    background-color: $base-secondary;
  }
}
