@use "../global/variables.scss";
@use "../global/mixins.scss";

.site-list {
  @include mixins.list-reset;
  background-color: variables.$base-white;
  border-bottom: 1px solid variables.$base-secondary;

  @media (min-width: variables.$width-tablet) {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  @media (min-width: variables.$width-desktop) {
    gap: 0 20px;
  }
}

.site-list__item {
  border-top: 1px solid variables.$base-secondary;

  @media (min-width: variables.$width-tablet) {
    border: none;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: variables.$base-black;
  text-transform: uppercase;
  letter-spacing: 0.24px;

  @media (min-width: variables.$width-tablet) {
    padding: 32px 20px;

    &--current {
      color: variables.$base-primary;
      box-shadow: inset 0 -2px variables.$base-primary;
    }

    &:hover,
    &:focus-visible {
      color: variables.$base-primary;
    }
  }

  &:active {
    background-color: variables.$base-secondary;
  }
}
