@use "../global/variables.scss";

.slider-pagination {
  display: none;

  @media (min-width: variables.$width-desktop) {
    display: flex;
    justify-content: center;
  }
}

.slider-pagination > .swiper-pagination-bullet {
  position: relative;
  display: block;
  padding: 10px 0;
  min-width: 62px;
  min-height: 24px;
  border: none;
  background-color: transparent;
  opacity: 1;
  outline: none;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    min-width: 62px;
    min-height: 4px;
    background-color: variables.$base-white;
  }
}

.slider-pagination > .swiper-pagination-bullet-active {
  &::after {
    background-color: variables.$base-primary;
  }
}

.slider-pagination > .swiper-pagination-bullet:hover,
.slider-pagination > .swiper-pagination-bullet:focus-visible {
  &::after {
    background-color: variables.$primary-opacity;
  }
}

.slider-pagination > .swiper-pagination-bullet:active {
  &::after {
    background-color: variables.$base-primary;
  }
}
