@use "../global/variables.scss";
@use "../global/mixins.scss";

.social__list {
  @include mixins.list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  max-width: 160px;

  @media (min-width: variables.$width-tablet) {
    max-width: 220px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}

.social__link {
  padding: 10px;
  color: variables.$base-grey;

  &--pinterest {
    padding: 9px;
  }

  &:hover,
  &:focus-visible {
    color: variables.$base-primary;
    background-color: variables.$base-secondary;
  }

  &:active {
    color: variables.$base-primary;
    background-color: variables.$primary-opacity;
  }
}

.social__icon {
  display: block;
}
