@import "../global/variables.scss";

.swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 100%;
  width: 20px;
  background-color: transparent;
  border: none;
  color: $base-primary;

  @media (min-width: $width-tablet) {
    width: 80px;
    transform: translateY(-50%) translateX(-20px);
  }

  @media (min-width: $width-desktop) {
    transform: translateY(-50%) translateX(-40px);
  }

  &--secondary {
    top: 50%;
    left: auto;
    right: 0;
    transform: rotate(180deg) translateY(50%);

    @media (min-width: $width-tablet) {
      width: 80px;
      transform: rotate(180deg) translateY(50%) translateX(-20px);
    }

    @media (min-width: $width-desktop) {
      transform: rotate(180deg) translateY(50%) translateX(-40px);
    }
  }

  &:hover:not(:disabled),
  &:focus-visible {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active:not(:disabled) {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    color: $base-grey;
    cursor: default;
  }
}
