@import "../global/variables.scss";

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0 30px;
  }
}

.swiper-slide__info-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    order: -1;
  }

  @media (min-width: $width-desktop) {
    padding: 150px 0 0;
    width: 605px;
    align-items: flex-start;
  }
}

.swiper-slide__header {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  text-align: center;

  @media (min-width: $width-tablet) {
    margin: 0 0 17px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.swiper-slide__image {
  display: block;
  object-fit: contain;
  margin: 0 0 10px;

  @media (min-width: $width-tablet) and (max-width: $width-tablet-max) {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -188px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    width: 600px;
  }
}

.swiper-slide__badge {
  margin: 0 0 4px;
}

.swiper-slide__text {
  text-align: center;
  margin: 0 0 20px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
    margin: 0 0 40px;
  }
}

.swiper-slide__buttom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.swiper-slide__old-price {
  margin: 0 2px 0 0;
  color: $base-primary;
  font-size: 16px;
  line-height: 32px;
}

.swiper-slide__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
