@import "../global/variables.scss";

.user-list {
  position: absolute;
  top: 0;
  right: 60px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list--nojs {
  right: 0;
}

.user-list__link {
  display: flex;
  padding: 22px;
  color: $base-black;
  text-transform: uppercase;
}

.user-list__icon {
  display: block;
}

.user-list__text {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $width-desktop) {
    display: inline-block;
  }
}
