@use "../global/variables.scss";
@use "../global/mixins.scss";

.user-list {
  @include mixins.list-reset;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media (min-width: variables.$width-desktop) {
    gap: 0 20px;
  }
}

.user-list__item {
  &--button {
    @media (min-width: variables.$width-desktop) {
      margin-left: -20px;
    }
  }
}

.user-list--nojs .user-list__toggle {
  display: none;
}

.user-list__link {
  display: flex;
  padding: 22px;
  color: variables.$base-black;
  text-transform: uppercase;
  letter-spacing: 0.24px;

  @media (min-width: variables.$width-tablet) {
    padding: 32px 22px;

    &:hover,
    &:focus-visible {
      color: variables.$base-primary;
    }
  }

  @media (min-width: variables.$width-desktop) {
    padding: 32px 20px;
  }

  &:active {
    background-color: variables.$base-secondary;
  }
}

.user-list__text {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: variables.$width-desktop) {
    display: inline;
    padding: 0 0 0 8px;
  }
}
